@charset "UTF-8";
@import "padroes/predefinicoes";

/////// LAYOUT
body, html {overflow-x: hidden;}
body {
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 1.55;
	color: $preto;
	min-height: 200vh;
	font-family: $fonte-padrao;
	letter-spacing: 0.04em;
	position: relative;
	background-color: $cinza;
}

@import "layout/componentes";
@import "layout/portal";

body {
	/****************************************
	 **** / INICIO DE ADICAO DE CORES / *****
	 ****************************************/
	@each $livros in $cores-livros{
		$i: index($cores-livros, $livros);
		&.volume#{$i}{
			#header-volume {
				.titulo:before {background: $livros}
				nav ul li {
					&.colecao a { color: $livros; }
				}
			}

			a.btn { background: $livros; }
		}
	}
	/****************************************
	 ***** / FIM DE ADICAO DE CORES / *******
	 ****************************************/	
}

